    nav ul li {
      text-align: center;
    }

    footer ul li{
      list-style: none;
      padding: 5px;
    }

    h4 {
      font-size: 14px;
    }
    .marg20l20r {
      margin-left: 20px;
      margin-right: 20px;
      }

    .slider {
      width: 100%;
      overflow: hidden;
    }

    .slide-container {
      height: 425px;
      width: 500%;
      background-color: black;
      margin: 0 auto;
      padding: 0px;
      overflow: hidden;
    }

    .slide-container .slide {
      float: left;
    }

    .slide {
      height: 100%;
      display: inline-block;
    
    }

    .green {
      background-color: green;
    }
    .purple {
      background-color: purple;
    }
    .blue {
      background-color: blue;
    }
    .red {
      background-color: red;
    }
    .navbarfix1 {
      margin-top: 20px;
      border: 0px;
      background-color: white;
    }
    .margtop20 {
      margin-top: 20px;
    }

    .margin0 {
      margin: 0px;
    }
    .listsnone {
      text-align: center;
    }
    .padding5 {
      padding: 5px;
    }
    .pad0 {
      padding: 0px;
    }