    nav ul li {
      text-align: center;
    }

    footer ul li{
      list-style: none;
      padding: 5px;
    }

    h4 {
      font-size: 14px;
    }
    .marg20l20r {
      margin-left: 20px;
      margin-right: 20px;
      }

    .slide-container {
      height: 425px;
      width: 100%;
      background-color: blue;
      margin: 0 auto;
    }
    .green {
      background-color: green;
    }
    .purple {
      background-color: purple;
    }
    .navbarfix1 {
      margin-top: 20px;
      border: 0px;
      background-color: white;
    }
    .margtop20 {
      margin-top: 20px;
    }

    .margin0 {
      margin: 0px;
    }
    .listsnone {
      text-align: center;
    }
    .padding5 {
      padding: 5px;
    }
    .pad0 {
      padding: 0px;
    }